@import "../../common/colors.scss";

.card-item {
  background: $secondary-color;
  cursor: pointer;
  transition: 0.3s all;
  min-height: 450px;
  height: 100%;
  margin: 10px;

  &:hover {
    transform: scale(1.1);
    transition: 0.3s all;
  }
}

.card-top {
  height: 300px;

  img {
    height: 100%;
    width: 100%;
  }
}

.card-bottom {
  padding: 20px;
}

.card-info {
  color: $font-primary;
  font-weight: 400;
  margin-bottom: 10px;
}
